# This requirements file lists all third-party dependencies for this project.
#
# Run 'pip install -r requirements.txt -t lib/' to install these dependencies
# in `lib/` subdirectory.
#
# Note: The `lib` directory is added to `sys.path` by `appengine_config.py`.
#
# Note: Configure PyCharm to include lib path in interpreter here: http://stackoverflow.com/a/24206781

Flask==0.11
Flask-SQLAlchemy==2.1
Flask-Testing==0.6.1